.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
}
button, input{
  color:darkgoldenrod;
  background-color: white;
  width: 150px;
  height: 30px;
  border: none;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 6px;
}
h2{
  color: rgb(230, 151, 6);
}

