.App {
  text-align: center;
}
/*for toggle and delete data*/
.btn-container{
  border: 1px solid green;
 padding: 10px;
  height: 50px;
  text-align: center;
  margin: 30px;
}
span{
  margin-right: 10px;
}
.toggle-btn{
  background-color: green;
  width: 100px;
  font-size: 15px;
  padding: 10px;
  color: wheat;
  border-radius: 30px;
  outline: none;
  border: none;
  margin-right: 10px;
}
.delete-btn{
  background-color:red;
  width: 100px;
  font-size: 15px;
  padding: 10px;
  color:whitesmoke;
  border-radius: 30px;
  outline: none;
  border: none;
  margin-right: 10px;
}
input{
  width: 300px;
  line-height: 10px;
  font-size: 14px;
  border-radius: 6px;
  padding-left: 10px;
  height: 40px;
}
.header{
  color: darkblue;
}
.post{
  color: darkorange;
}
/*for fetching data*/
.post-container{
  background-color: darkslategray;
  padding-bottom: 10px;
  margin: 30px;
  text-align: start;
  color: whitesmoke;
}

td,th{
  padding: 8px;
  border: 1px solid rgb(216, 208, 208);
}
td{
  background-color: rgb(223, 231, 194);
  color:blue;
  font-weight: 700;
  font-size: 14px;
  padding: 8px;
  text-align: center;
}
th{
  background-color: darkgreen;
  color: rgb(152, 152, 239);
}
.header_post{
  color:crimson
}
.red{
  color: red;
}
/*for login form1 and form2*/
.header2{
  color: darkcyan;
}
.btn-submit{
  background-color: darkgreen;
  color: whitesmoke;
  font-size: 20px;
  padding: 8px;
  border-radius: 20px;
  width: 100px;
  outline: none;
  border: none;
}
.btn-logout{
  background-color: darkred;
  color: whitesmoke;
  font-size: 20px;
  padding: 8px;
  border-radius: 20px;
  width: 100px;
  outline: none;
  border: none;
}
.login-container{
  background-color: cornsilk;
  padding: 20px;
  margin: 20px;
  
}