.App {
  text-align: center;
}
.container{
  background-color: ghostwhite;
  padding-bottom: 10px;
  margin: 20px;
}
.header1{
  color: firebrick;
}
.header2{
  color: darkolivegreen;
}
.print-values{
  color: darkcyan;
  font-size: large;
}
.container span{
  color: darkblue;
}
input{
  width: 300px;
}