.App {
  text-align: center;
}
.container{
  background-color: rgb(24, 32, 32);

  padding: 20px;
  margin: 20px;
}
.header1{
  color: rgb(250, 154, 10);
  font: 500;
}
.header2{
  color: rgb(188, 200, 188);
}
.header3{ 
  color:rgb(95, 95, 164)
}
span{
  color: rgb(205, 74, 74);
}
input{
  padding: 8px;
  width:400px;
  border-radius: 6px;
  background-color: rgb(139, 204, 139);
  margin-right: 5px;
}
button{
  padding: 8px;
  border-radius: 6px;
  background-color: rgb(155, 83, 135);
  font-size: 15px;
  outline: none;
  border: none;
}
p{
  color: darkcyan;
  font-size: 20px;
  font-weight: 700;
}